<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

<div>
    <div class="navbar-header">
        <ion-nav-back-button onclick="window.location.href='disconnect'">
            Back to Home Page
        </ion-nav-back-button>
    </div> <br><br>


    <div>
        <p>Welcome
            <b>
                <%= user.display_name %>
            </b>
        </p>
    </div>

    <div>
        <p>You shared file link is generated and opened in new browser tab.</p>
        <a href="<%= link%>" class="share-link"> Shared File Available Here </a>
    </div>

</div>